<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query</title>
</head>
<body>
    <form action="../getqueryresult/">
        <p>Student name:</p>
        <input name="stu_name">
        <p>assignment number:</p>
        <input type="radio" name="role" value="assignment1">assignment1<br>
        <input type="radio" name="role" value="assignment2">assignment2<br>
        <input type="radio" name="role" value="assignment3">assignment3<br>
        <input type="radio" name="role" value="assignment4">assignment4<br>
        <input type="radio" name="role" value="assignment5">assignment5<br>
        <input type="radio" name="role" value="assignment6">assignment6<br>
        <div style="text-align:center">
            <input  class="btn btn-success" type="submit" value="Confirm">
        </div>
    </form>
</body>
</html>