<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Courses</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../static/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../static/info/bootstrap/css/heroic-features.css" rel="stylesheet">

    <link href="../../../static/info/bootstrap/css/new_table.css" rel="stylesheet">
<style>
    .main{
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

</style>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" style="color: white">Student management system</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../">Return
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class = "main">
<form action="../getqueryresult/" method="post">
        <p>Student name:</p>
        <input name="stu_name">
        <p>assignment number:</p>
        <input type="radio" name="a" value="assignment1">assignment1<br>
        <input type="radio" name="a" value="assignment2">assignment2<br>
        <input type="radio" name="a" value="assignment3">assignment3<br>
        <input type="radio" name="a" value="assignment4">assignment4<br>
        <input type="radio" name="a" value="assignment5">assignment5<br>
        <input type="radio" name="a" value="assignment6">assignment6<br>
        <p></p>
        <div style="text-align:center">
            <input  class="btn btn-success" type="submit" value="Confirm">
        </div>
    </form>

  </div>
  {% if messages %}
      <script>
          {% for msg in messages %}
              alert('{{ msg.message }}');
          {% endfor %}
      </script>
  {% endif %}
  <!-- Footer -->
  <footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CSC3170 project group</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../../../static/info/bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="../../../static/info/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>