<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rewrite Information</title>



    <!-- Bootstrap core CSS-->
    <link href="/static/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/info/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/static/info/bootstrap/css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Rewrite Information</div>
        <div class="card-body">
            <form action={{ link }} method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="fUwmJPVC3SLe7M0NtaOgJFXK0iysPCTfYEZoHryZEGhTPYRzKP8FSPcjzg5axanc">
                <p>
                    <label>New id:</label><br/>
                    <input name="id"/>
                </p>
                <p>
                    <label>New Email：</label><br/>
                    <input name="email"/>
                </p>
                <input  class="btn btn-success" type="submit" value="Confirm">
            </form>
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/info/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/static/info/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/info/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
